<img src="https://filoger.com/wp-content/uploads/2021/09/circle-logo-1536x1536.png" alt="Filoger" width="200" height="200">

<h1 align="center"><font size = 14>Plugin Python</font></h1>
<h4 align="center">June, 2023<h4>
<h3 align="center"><font size = 7>Session4</font></h3>
<h3 align="center">Zahra Amini</h3>
<br>
<br>
<br>
<br>
<br>

## Define & Call Function

In [1]:
def Add1(x):
    y = x + 1
    return y

In [2]:
Add1(2)

3

In [3]:
num = 2

Add1(num)

3

In [4]:
Add1(x=2)

3

## Function without return

In [5]:
def Add(x, y):
    add = x + y
    print(add)

In [6]:
Add(x=2, y=10)

12

## Many inputs & outputs

In [7]:
def cal(x, y):

    add = x + y
    sub = x - y
    mul = x * y
    div = x // y
    
    return add, sub, mul, div

In [9]:
a, s, m, d = cal(7, 2)

In [10]:
d

3

## Default parameter value

In [11]:
def div(a, b, typ):
    if typ == 'int':
        out = a // b
    elif typ == 'float':
        out = a / b
    return out

In [12]:
div(7, 2, 'int')

3

In [13]:
div(7, 2, 'float')

3.5

In [15]:
# div(7, 2)

#### default value

In [16]:
def div2(a, b, typ='float'):
    if typ == 'int':
        out = a // b
    elif typ == 'float':
        out = a / b
    return out

In [18]:
div2(7, 2, 'int')

3

## Unknown number of inputs

### *args

In [19]:
def pr(*inputs):
    print(inputs, '--->', type(inputs))

In [20]:
pr(1, 2, 3, 4)

(1, 2, 3, 4) ---> <class 'tuple'>

In [21]:
pr('a', 'b')

('a', 'b') ---> <class 'tuple'>

In [22]:
def avg(*x):
    return sum(x) / len(x)

In [23]:
avg(1, 2, 3, 4, 5)

3.0

### **kwargs

In [24]:
def prd(**inputs):
    print(inputs, '--->', type(inputs))

In [26]:
# prd(1, 2, 3)

In [27]:
prd(key=1, key2=2, key3=3)

{'key': 1, 'key2': 2, 'key3': 3} ---> <class 'dict'>

In [28]:
def avgd(**inputs):
    result = {}
    for key, value in inputs.items():
        result[key] = sum(value) / len(value)
    return result

In [29]:
avgd(sara=(19, 18, 20), ali=(10, 12, 18), zahra=(15, 16, 20))

{'sara': 19.0, 'ali': 13.333333333333334, 'zahra': 17.0}

## lambda

In [30]:
def avg(a):
    out = sum(a) / len(a)
    return out

In [31]:
avgl = lambda a: sum(a) / len(a)

avgl

In [32]:
avgl([1, 2, 3])

2.0

In [33]:
avgl2 = lambda a, b: (sum(a) / len(a), sum(b))

avgl2

In [34]:
avgl2(a=[1, 2, 3], b=[8, 10])

(2.0, 18)

## EX

In [35]:
grades1 = {'ali':[98, 100], 'zahra':[68, 90]}

grades2 = {'sara':[100, 73], 'amin':[60, 45]}

In [36]:
avg3 = lambda grades:{key: sum(value)/len(value) for key,
                value in grades.items()}

avg3

In [37]:
avg3(grades1)

{'ali': 99.0, 'zahra': 79.0}

In [38]:
avg3(grades2)

{'sara': 86.5, 'amin': 52.5}

## EX:
    1. Prime Number

    2. Sum of prime numbers between 1 t0 100

In [39]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, x):
        if x % i == 0:
            return False
    return True

In [40]:
is_prime(x=17)

True

In [41]:
def sum_prime(n, m):
    Sum = 0
    for num in range(n, m+1):
        if is_prime(num):
            Sum += num
    return Sum

In [43]:
sum_prime(n=1, m=10) #2, 3, 5, 7

17

In [44]:
n, m = 1, 10

print(f"Sum of prime numbers from {n} to {m} is: {sum_prime(n=1, m=10)}")

Sum of prime numbers from 1 to 10 is: 17

# Finished!